<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageCirclCropper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0004527F1D783D1F00C8C551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000452981D783D2000C8C551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>000452A31D783D2000C8C551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
